<div>
  <h3 class="bg-primary text-center text-white p-2">
    <!-- {{ username }}  -->
    To Do List
  </h3>
</div>

<!-- <div>
  <h2 class="mt-1">
    {{ doneTasksCount }} {{ showComplete ? "Incomplete Items" : "Complete Items" }}
  </h2>
</div> -->

<div class="container-fluid row m-2">
  <div class="col">
    <input
      type="text"
      class="form-control"
      placeholder="Enter your new task"
      [(ngModel)]="newTask.name"
    />
  </div>
  <div class="col-auto">
    <button
      class="btn btn-primary"
      (click)="createTask(newTask)"
      [disabled]="!checkTaskNameValidity(newTask.name)"
    >
      +
    </button>
  </div>
</div>

<div>
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td [ngSwitch]="task.done">
          <span class="text-success" *ngSwitchCase="true">Yes</span>
          <span class="text-danger" *ngSwitchCase="false">No</span>
          <input class="ml-2" type="checkbox" [(ngModel)]="task.done" />
        </td>
        <!-- <td>
          <button class="btn btn-success" (click)="update(task)">Update</button>
        </td> -->
        <td>
          <button class="btn btn-danger" (click)="delete(task)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row justify-content-center bg-secondary p-2">
    <button class="btn btn-success" (click)="updateAll(tasks)">
      Update List
    </button>

    <button class="btn btn-danger ml-2" (click)="deleteAll(tasks)">
      Clear List
    </button>
  </div>
</div>

<!-- <div class="bg-secondary text-white text-center p-2">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="showComplete">
    <label class="form-check-lable" for="defaultCheck"> Show complete items</label>
  </div>
</div> -->
