<div>
  <h3 class="bg-primary text-center text-white p-2">
    {{ username }} to do list
  </h3>
</div>

<div>
  <h2 class="mt-1">
    {{ itemCount }} {{ showComplete ? "Incomplete Items" : "Complete Items" }}
  </h2>
</div>

<div class="container-fluid row">
  <div class="col">
    <input class="form-control" placeholder="Enter your new task" #toDoText />
  </div>
  <div class="col-auto">
    <button class="btn btn-primary" (click)="addItem(toDoText.value)">+</button>
  </div>
</div>

<div>
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let qC of items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ qC.task }}</td>
        <td><input type="checkbox" [(ngModel)]="qC.complete" /></td>
        <!-- <td [ngSwitch]="x.complete">
        <span *ngSwitchCase="true">Yes</span>
        <span *ngSwitchCase="false">No</span>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

<div class="bg-secondary text-white text-center p-2">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="showComplete">
    <label class="form-check-lable" for="defaultCheck">Show incomplete tasks</label>
  </div>
</div>
